/* 리셋 */
/* 100 400 600 */
* {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', serif;
}
*,
*::before,
*::after {
   box-sizing: border-box;
}
a {
   color: inherit;
   text-decoration: none;
   outline: none;
   cursor: pointer;
}
ul,
li {
   list-style: none;
   padding: 0;
   margin: 0;
}
body {
   width: 100%;
}
button {
   all: unset;
   cursor: pointer;
}
/* 레이아웃 */
#wrap-order {
   font-size: 16px;
   width: 1014px;
   margin: 0 auto;
   /* border: 1px solid #111; */
   padding: 170px 0 30px 0;
}
#wrap-order > div {
   width: 100%;
}
/* 1구역 */
#wrap-order .ttl {
   font-size: 32px;
   font-weight: 300;
   margin-bottom: 20px;
}
.a01-1-regi {
   font-weight: 400;
   /* background-color: #f7f7f7; */
   background-color: #52c94e;
   text-align: center;
   padding: 20px 0;
   color: #fff;
}
.a01-1-regi .ttl01 {
   font-size: 40px;
   font-weight: 900;
}
.a01-1-regi > div {
   display: inline-block;
   width: 580px;
   font-weight: 600;
   text-align: center;
   padding: 10px 0;
   margin-bottom: 15px;
}
.a01-1-regi .signUp {
   font-size: 20px;
}
.a01-1-regi .regiBtn {
   font-size: 16px;
   display: inline-block;
   padding: 14px 35px;
   border-radius: 25px;
   /* border: 3px solid #232e41; */
   background-color: #d3ff7d;
   color: #222;
   font-weight: 700;
   box-shadow: 1px 2px 11px 2px rgba(0, 0, 0, 0.25);
   margin-top: 15px;
}
.a01-1-regi .regiBtn i {
   margin-left: 13px;
}
.a01-1-regi .addtoknow {
   color: #222;
}
.a01-1-regi .addtoknow i {
   margin-right: 3px;
}
.a01-1-regi .addtoknow span {
   font-weight: 700;
}
.a01-2-info {
   margin-top: 70px;
}
.info-lists {
   padding-left: 10px;
   line-height: 2;
}
.a01-2-info i {
   margin-right: 8px;
}
.a01-2-info .secondary {
   line-height: 1.5;
}
.a01-2-info .secondary > p {
   padding-left: 25px;
}
.a01-2-info .secondary i {
   font-size: 8.5px;
   margin-right: 5px;
}
/* 2구역 */
.area-02 {
   margin: 100px 0;
}
.area-02 .typeName {
   color: #232e41;
   font-weight: 800;
   font-size: 25px;
   text-align: left;
   padding-left: 8px;
   margin-bottom: 15px;
}
.area-02 .typeName span {
   color: #718dc3;
}
.area-02 .type01 {
   margin-bottom: 70px;
}
.area-02 .flex-container {
   display: flex;
   justify-content: center;
   align-items: center;

   flex-wrap: wrap; /* 아이템을 줄 바꿈 */
   gap: 3px;
   margin: 0 auto;
}
.area-02 .type .item {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}
.area-02 .type img {
   display: block;
   margin: 0 auto;
}
.area-02 .type01 .item {
   flex: 0 0 calc(25% - 10px); /* 가로폭: 50% - gap 고려 */
}
.area-02 .type02 .item {
   flex: 0 0 calc(33% - 10px); /* 가로폭: 50% - gap 고려 */
}
.area-02 .step {
   color: #222;
   font-size: 16.5px;
   font-weight: 700;
   line-height: 1.5;
   /* background-color: rgba(211, 255, 125, 0.2); */
   background-color: #718dc3;
   /* background-color: #f7f7f7; */
   padding: 10px 0 10px 15px;
   /* font-weight: 400; */
}
.area-02 .item span {
   font-size: 15px;
   font-weight: 400;
   margin-right: 10px;
   color: #fff;
}
.area-02 .type01 img {
   width: 220px;
}
.area-02 .type02 img {
   width: 240px;
}

/* 3구역 */
.area-03 .contents-03 {
   /* text-align: center; */
}
.area-03 .list {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   height: 100px;
   margin-bottom: 10px;
}
.area-03 .list .number {
   width: 50px;
   font-size: 30px;
   color: #52c94e;
   font-weight: 700;
}
.area-03 .list .icon {
   width: 100px;
   height: 100px;
   /* background-color: #718dc3; */
}
.area-03 .list .text {
   font-weight: 700;
   color: #232e41;
}
